@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-padding;
    
    @include mobile {
        padding: 0 $spacing-md;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 $container-padding;
    
    @include mobile {
        padding: 0 $spacing-md;
    }
}