@font-face {
    font-family: "CormorantSC";
    src: url("/assets/fonts/CormorantSC/CormorantSC-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter_18pt-Light.ttf");
    font-weight: normal;
    font-style: normal;
}